<h1 class="text-center"><%= pluralize(@friend.count, "Result") %></h1>
<div class = "container">
    <table class="table table-hover">
        <thead class="table-secondary">
            <tr>
            <th><%= sort_link(@query, :first_name, "First Name", default_order: :asc) %></th>
            <th><%= sort_link(@query, :last_name, "Last Name") %></th>
            <th><%= sort_link(@query, :email, "Email") %></th>
            <th><%= sort_link(@query, :twitter, "Twitter") %></th>
            </tr>
        </thead>

        <tbody>
            <% @friend.each do |friend| %>
            <tr>
                <td><%= link_to friend.first_name, friend%></td>
                <td><%= link_to friend.last_name, friend%></td>
                <td><%= friend.email %></td>
                <td><%= friend.twitter %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>